<ion-view>

<ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content scroll="false">
      <map id="map1" on-create="mapCreated(map)"></map>
      <div class="map" id="map_canvas1"></div>
           
    </ion-content>

	<ion-footer-bar class="bar-stable">
        <div ng-controller="MapCtrl">
		<a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
	    </div>    
    </ion-footer-bar>
</ion-view>